@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@media screen and (min-width: 320px){

 
  body{
    padding: 1em;
  }
  .logo p{
    visibility: hidden;
  }

  .topcorner li{
    display: inline;
  }
  .topcorner{
    position: absolute;
    top:1.2em;
    left:85%;
    /* margin-right:25px; */
  }
  .topmenu{
    display: none;
  }

  .products{
    display: grid;
    grid-template-areas:
      "p1"
      "p2"
      "p3"
      "p4"
      "p5"
      "p6";
      
    grid-gap: 1em;
    padding: 2em;
  }

  .menu{
    visibility: hidden;
    
  }
  .menu li{
    display: none;
  }
  .current{
    text-align: center;
  }

}

@media screen and (min-width: 600px){
  .hambmenu{
    display: none;
  }


  .logo{
    margin: 1px 0px;
    padding: 1px 1px 32px;
    position: absolute;
    top:3px;
    left: 2%;
    
   
  }

  .logo p{
    visibility: visible;
  }

  .topcorner{
    position: absolute;
    top:6%;
    left: 80%;
  }

  .menu {
    visibility: visible;
    
    background-color: #04312b;
    padding: 17px;
    text-align: center;
    
  }

  .menu a{
    color: #d4b1ab;
    
    padding: 17px;
  }

  .menu li{
    display: inline;
    
  }

  h1{
    
    position: absolute;
    top:18%;
    left:35%;
    /* padding: 5px; */
  }
  
    
  .current{
    text-align: center;
    
    
  }
  



    
  
    
  form{
    margin-top:7em;
    margin-left:1em;
    margin-right: 1em;
    
  }


  .products{
    display: grid;
    grid-template-areas:
      "p1 p2"
      "p3 p4"
      "p5 p6";
      
      
    grid-gap: 1em;
    padding: 1em;
  }
  
}

@media screen and (min-width: 900px){

  .topmenu{
    display: inline;
  }
  .logo{
    width: 120px;
    position: absolute;
    top: 1em;
  }

  .topcorner{
    position: absolute;
    top:1.2em;
    left: 90%;
  }

  h1{
    position: absolute;
    left: 41.5%;
    top: 7em;
  }

  form{
    margin-top:7em;
    margin-left:1em;
    margin-right: 1em;
    padding: 1em;
  }

  .products{
    display: grid;
    grid-template-areas:
      "p1 p2 p3"
      "p4 p5 p6";
      
      
    grid-gap: 1em;
    padding: 1em;
  }

  .current{
    padding-left: 10px;
    padding-top: 7em;
  }




}