@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


header{
  background-color: #F7F7F7;


}
main{
  background-color: #F7F7F7;
}

/* select size */
.menubtn{
  background-color: black;
  color: white;
  padding: 0.1em;
  font-size: 0.8em;
  border: none;
}

.menu{
  position: relative;
  text-align: center;
  padding-bottom: 1em;
}

.menuopt{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 60px;
  z-index: 1;
}

.menuopt a{
  color: #000;
  padding: 0.1em;
  text-decoration: none;
  display: block;
}

.menuopt a:hover {
  background-color: #dddddd;
}

.menu:hover .menuopt{
  display: block;
}

.menu:hover .menubtn{
  background-color: black;
}






/* logo */
.logo{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 15%;
}
.logo p{
  font-size: 1em;
  color:black;
  text-align: center;
  text-transform: uppercase;
  font-family:  'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
}



/* clear sign */ 

.hambmenu .material-icons {
  padding: 5px;
  margin: 10px;
  position: absolute;
  top: 3px;
  background-color: none;
  color: #04312b;
}


/* top corner bar */ 


.topcorner .material-icons {
  font-size: 24px;
  color: rgba(0,0,0,0.54);
  background-color: transparent;
  opacity: 1.0;
  filter: alpha(opacity= 100);
  color: #04312b;
  text-align: right;
}
.topcorner .material-icons:hover{
  color: #c69200;
  opacity: 1.0;
  filter: alpha(opacity=100);
}


/* h1 */
h1{
  color: #1e392a;
  font-family:  Times, 'Playfair Display', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px;
}

/* h2 */
h2{
  font-style:italic;
  color: lightgrey;
  padding-top:10px;
  font-size: 1em;
  font-family: georgia, 'Roboto', sans-serif;
} 
 /* h3 */
h3{
  color: #1e392a;
  font-family:  'Playfair Display', serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  
}
/* h4 */
h4{
  color:#838383;
  opacity: 0.5;
  font-style: italic;
  
  
}
/* list */ /* filter list is in active mode */ /* position keeps changing */
.list .material-icons{
  position: absolute;
  top:14.5em;
  left:19em;
  opacity: 1;
  filter: alpha(opacity= 100);
  color:white;
}

/* filter options */
form{
  background-color: lightgray;
  display: grid;
  grid-template-rows: 1fr;
  
  /* padding:2.5em; */
  
}
.sort{
  color: #494949;
  font-family:  'Roboto', sans-serif;
  
  font-size: 0.8em;
  margin: 15px;
  /* padding:1em; */
  grid-row-start: 1;
  grid-column-start: 1;
}
.category{
  
  color: #494949;
  font-family:  'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 15px;
  /* padding:1em; */
  grid-row-start: 1;
  grid-column-start: 2;
}

.scent{
  color: #494949;
  font-family:  'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 15px;
  /* padding:1em; */
  grid-row-start: 1;
  grid-column-start: 3;
}


.grid-view{
  grid-template-columns: 1fr 1fr 1fr;
}



/* result */
.products{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 1em;
  
}

/* thumb-up */
.products .material-icons{
  font-size: 18px;
  background-color: transparent;
  color: #04312b;
}

.products .material-icons:hover{
  color: #c69200;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/* add to cart */
.add{
  background-color: #000;
}
.add button{
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
  font-family: 'Playfair', serif;
  text-transform: uppercase;
}
.add button:hover {
  opacity: 0.7;
}

/* stars */
.rate .material-icons{
  color:#d1a102;
  padding-bottom: 2em;
} 

p{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  text-align: center;
  color: #494949;
}

/* select size */
.selectbtn{
  background-color: black;
  color: white;
  padding: 0.1em;
  font-size: 0.8em;
  border: none;
}

.select{
  position: relative;
  text-align: center;
  padding-bottom: 1em;
}

.selectopt{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 60px;
  z-index: 1;
}

.selectopt a{
  color: #000;
  padding: 0.1em;
  text-decoration: none;
  display: block;
}

.selectopt a:hover {
  background-color: #dddddd;
}

.select:hover .selectopt{
  display: block;
}

.select:hover .selectbtn{
  background-color: black;
}

/* toggle */

.btn-view{
  color: #1e392a;
  font-family:  'Playfair Display', serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0em 10em 0em 10em;
  margin-left: 1.5em;
  display: block;
}
/* filter */

.filterbtn{
  background-color: lightgray;
  color: black;
  padding: 0.1em;
  font-size: 18px;
  border: none;
  
}

.filter{
  position: relative;
  text-align: center;
  
}

.filteropt{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 60px;
  z-index: 1;
  
}

.filteropt a{
  color: #000;
  padding: 0.5px;
  text-decoration: none;
  display: block;
  

}

.filteropt a:hover {
  background-color: #dddddd;
}

.filter:hover .filteropt{
  display: block;
}

.filter:hover .filterbtn{
  background-color: lightgray
}





/* quantity button */
.quantity-button .input-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  border-style: groove;
}

.quantity-button{
  text-align: center;
  /* padding-top: 2em; */
}

/* pages */
.page .input-text{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  border-style: groove;
}
.page{
  text-align: center;
  padding: 0.5em;
}

.callout{
  color: white;
  background-color: red;
  
  
}


/* footer */
footer{
  background-color: whitesmoke;
  text-align: center;
}
.terms{
  font-size: 0.8em;
  /* color: #5e2d51; */
  font-family: georgia, 'Roboto', sans-serif;
  font-weight: 500px;
  font-style: italic;
}
.social li{
  display: inline;
}

footer a{
  color: #04312b;
}
@media screen and (min-width: 900px){
   
  .terms li{
    display: inline; 

  }

  .terms a{
    padding: 0.5em;
    color: #d4b1ab;
  }
  .terms{
    background-color: #04312b;
    text-align: left;
    padding: 1em;

  }
  .social a{
    color: #d4b1ab;
  }

  .social{
    text-align: left;
    padding: 1em;
    background-color: #04312b;
  }

}

